<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="">
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ApiContext" providerName="System.Data.SqlClient" connectionString="Server=1e96488a-5ba4-4bf1-900b-a7830155d13b.sqlserver.sequelizer.com;Database=db1e96488a5ba44bf1900ba7830155d13b;User ID=tkhobyyppmfrdsts;Password=aGVbK567tftxnGMkbjARxSKxURRCCMerB8CjQgQYAso6MHxeYcP7qctq5wo3mABN;" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="issuer" value="http://dll-mobileapi.apphb.com/" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
