<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="ApiContext"
        connectionString="Server=93f1f6c4-f078-4823-bf72-a7bc0007eba1.sqlserver.sequelizer.com;Database=db93f1f6c4f0784823bf72a7bc0007eba1;User ID=gvulnwczkpcvmmqz;Password=KiCD5yPWNvJtHrUzJiAMXFViXXeQCvnyGTraGuRXkaWjsTvhXNoubafevtNgu8tr;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
